<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"></meta>
<title>My Courses</title>
</head>
<body>
	<div th:text="${Game.name}">...</div>
	<br />
	<br />
	<p th:if="${result}" th:inline="text">Your answers were</p>
	<form th:action='@{{id}(id=${Game.id})}' th:object="${wrapper}"
		method="post">
		<div th:each="question, stat : ${wrapper.Questions}">
			<div th:text="${question.getQuestion()}">...</div>
			<input type="radio" th:field="*{Questions[__${stat.index}__].answer}"
				value="True" checked="checked" />True <input type="radio"
				th:field="*{Questions[__${stat.index}__].answer}" value="False"
				checked="checked" />False <br /> <br />
		</div>
		<input type="Submit" name="Submit" />
	</form>
	<p th:if="${result}" th:inline="text">The result is [[${result}]]</p>
	<p th:if="${result}" th:inline="text"> <a href="/">Log Out</a></p>
</body>
</html>